.bg-gradient-info {
    background-image: linear-gradient(302deg, #e9d30e 0%, #d43d06 100%) !important;
}

.text-gradient.text-info {
    background-image: linear-gradient(310deg, #ffe01c, rgb(235 152 29)) !important;
}

.text-dark {
    color: #ffe01c !important;
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg, #ffe01c, rgb(235 152 29)) !important;
}