.bg-gradient-info {
    background-image: linear-gradient(310deg, #ffe01c, rgb(235 152 29)) !important;
}

.text-gradient.text-info {
    background-image: linear-gradient(310deg, #ffe01c, rgb(235 152 29)) !important;
}

.text-dark {
    color: #ffe01c !important;
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg, #ffe01c, rgb(235 152 29)) !important;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: linear-gradient(310deg, #ffe01c, rgb(235 152 29)) !important  ;
}

.form-switch .form-check-input:checked {
    border-color: #fff !important;
    background-color: #eab308 !important;
}